[submodule "OCA/account-invoice-reporting"]
	path = OCA/account-invoice-reporting
	url = git@github.com:OCA/account-invoice-reporting.git
	branch = 14.0

[submodule "OCA/sale-reporting"]
	path = OCA/sale-reporting
	url = git@github.com:OCA/sale-reporting.git
	branch = 14.0
